*.aux
*.toc
*.gz
*.out
*.nlo
template/Thesis_Template/Thesis.maf
template/Thesis_Template/Thesis.mtc
template/Thesis_Template/Thesis.mtc0
template/Thesis_Template/Thesis.mtc1
template/Thesis_Template/Thesis.mtc2
template/Thesis_Template/Thesis.mtc3
Thesis.pdf
template/Thesis_Template/Thesis.bib
*.lot
*.log
*.lof
*.fdb_latexmk
*.blg
*.bbl
westernthesis.app
*.bcf
*.brf
thesis.maf
thesis.mtc
thesis.mtc0
thesis.mtc1
thesis.mtc2
thesis.mtc3
thesis.mtc4
thesis.mtc5
thesis.mtc6
thesis.mtc7
thesis.mtc8
thesis.mtc9
*eps-converted-to.pdf
visualspdf
visualspng
*.fig
