*.aux
*.toc
*.gz
*.out
*.nlo
template/Thesis_Template/Thesis.maf
template/Thesis_Template/Thesis.mtc
template/Thesis_Template/Thesis.mtc0
template/Thesis_Template/Thesis.mtc1
template/Thesis_Template/Thesis.mtc2
template/Thesis_Template/Thesis.mtc3
Thesis.pdf
template/Thesis_Template/Thesis.bib
*.lot
*.log
*.lof
*.fdb_latexmk
*.blg
*.bbl
westernthesis.app
*.bcf
*.brf
thesis.maf
thesis.mtc*
*eps-converted-to.pdf
visualspdf
visualspng
*.fig
thesis.dvi
thesis.fls
